if self.user.hid
  a.blogs-sole-title-user(href=self.link_to('users.member', { user_hid: self.user.hid }))
    img.blogs-sole-title-user__avatar(alt=self.user.name)&attributes(self.avatar(self.user, 'sm'))
    = self.user.name
else
  .blogs-sole-title-user.av-anon
