@import "nodeca.core/client/common/_variables"

$aside-size = '$$ N.config.users.avatars.resize.sm.height $$'px

.blogs-sole__head
  display flex
  padding-bottom 1rem
  margin-bottom 1.5rem
  border-bottom 1px solid $decorator-color
  line-height 1.25em

.blogs-sole__meta
  flex 1 1 0%

.blogs-sole__avatar
  flex 0 0 $aside-size + 10px

.blogs-sole__userpic
  width $aside-size
  height $aside-size
  border-radius 3px
  box-shadow 0 0 1px $body-color-secondary

.blogs-sole__author-link
  color $body-color-secondary
  font-size $font-size-lg

.blogs-sole__loading-prev
.blogs-sole__loading-next
  padding 2rem
  font-size 4rem
  line-height 1.1em
  text-align center
  background-color $body-bg-secondary
  color $body-color-secondary + 50%
  border-radius 4px
  margin-bottom 2rem
