@import "nodeca.core/client/common/_variables"

.entry-history-dlg__entry
  margin-bottom 2rem

.entry-history-dlg__meta
  display flex
  padding .375rem .75rem
  margin-bottom .5rem
  color $body-color-secondary - 10%
  background-color $body-bg-secondary - 1%
  border-radius 3px
  line-height 1.1em

.entry-history-dlg__meta-author
  flex 1 1 0%

.entry-history-dlg__meta-author-link
  color inherit

.entry-history-dlg__meta-ts
  white-space nowrap
  font-size $font-size-xs
  align-self flex-end
  padding-left 1rem

.entry-history-dlg__title
  font-size $font-size-lg
  margin-bottom .5rem
