.page-actions.blogs-index__toolbar-controls
  button.hidden-nav-alt.btn.btn-primary(
    type='button'
  )= self.t('new_entry')
  button.visible-nav-alt.btn.btn-secondary.btn-square.icon.icon-plus(
    type='button'
    title=self.t('new_entry')
  )
