@import "nodeca.core/client/common/_variables"

$aside-size = '$$ N.config.users.avatars.resize.sm.height $$'px

.blogs-entry-mixed
  margin-bottom 2rem

.blogs-entry-mixed__title
  color $brand-primary

.blogs-entry-mixed__meta
  margin-left $aside-size + 16px
  margin-bottom 1rem
  color $body-color-secondary
  line-height 1.25em

.blogs-entry-mixed__author-link
  color $body-color-secondary
  font-size $font-size-xs

.blogs-entry-mixed__aside
  float left
  margin-top .125rem

.blogs-entry-mixed__userpic
  display inline-block
  width $aside-size
  height $aside-size
  border-radius 3px
  box-shadow 0 0 1px $body-color-secondary

.blogs-entry-mixed__select
  float right
  min-width 2rem
  text-align center
  margin-bottom 0
  padding-bottom .5rem

.blogs-entry-mixed__select-cb
  position relative
  vertical-align text-bottom

.blogs-entry-mixed__content
  margin-right 0px
  margin-left $aside-size + 16px
  min-height $aside-size - 40 // Dont allow post controls to be above avatar bottom

.blogs-entry-mixed__controls
  //display flex
  //align-items center
  margin-left $aside-size + 16px

.blogs-entry-mixed__read-more
  //flex 1 1 0%
  font-size $font-size-xs

.blogs-entry-mixed__controls-blk
  margin 0
  padding 0
  list-style none

.blogs-entry-mixed__control-item
  color $body-color-secondary
  font-size $font-size-xs
  display inline-block
  margin-right 1.5rem
  &:last-child
    margin-right 0

.blogs-entry-mixed__control-link
  color $body-color-secondary

.blogs-entry-mixed__undelete
  display none

.blogs-entry-mixed__m-deleted
.blogs-entry-mixed__m-hb
.blogs-entry-mixed__m-deleted-hard
.blogs-entry-mixed__m-ignored
  background-color $deleted-bg

.blogs-entry-mixed__ignored-mark
  display none
.blogs-entry-mixed__m-ignored
  .blogs-entry-mixed__ignored-mark
    display inline-block
