@import "nodeca.core/client/common/_variables"

.blogs-index__head
  display flex

.blogs-index__title
  flex 1 1 0%
  color $body-color-secondary
  font-size $font-size-base

.blogs-index__loading-prev
.blogs-index__loading-next
  padding 2rem
  font-size 4rem
  line-height 1.1em
  text-align center
  background-color $body-bg-secondary
  color $body-color-secondary + 50%
  border-radius 4px
  margin-bottom 2rem
