if self.tags.length
  .blogs-tag-list
    = self.t('tags')

    ul.blogs-tag-list__list
      each tag in self.tags
        li.blogs-tag-list__item(
          class=tag.is_category ? 'blogs-tag-list__category' : ''
        )
          - var user = self.users && self.users[tag.user] || {};
          a.blogs-tag-list__link(href=self.link_to('blogs.sole', { user_hid: user.hid, $query: { tag: tag.name } }))= tag.name
