.blogs-tag-list
  margin 0
  padding 0
  list-style none
  margin-left 0.5rem
  display inline

.blogs-tag-list__item
  display inline

.blogs-tag-list__item + .blogs-tag-list__item
  &:before
    content ', '
