- var user = self.users[self.user_id] || {};
- var to_type = '$$ N.models.users.Subscription.types.MUTED $$'

#content.blogs-entry-mute(data-type=to_type, data-entry-id=self.entry._id)
  != self.partial('@common.blocks.navbar.logo_apps', { search_tab: 'blog_entries' })

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title.page-loading__content(itemprop='name')= self.t('title')
      .icon.icon-loading-placeholder.page-loading__progress

    - var url = self.link_to('blogs.entry', { user_hid: user.hid, entry_hid: self.entry.hid });
    - var link = '<a href="' + pug.escape(url) + '">' + pug.escape(self.entry.title) + '</a>';
    .page-loading__content!= self.t('message', { link: link })
