// Blog entry
//

@import "nodeca.core/client/common/_variables"

$aside-size = '$$ N.config.users.avatars.resize.sm.height $$'px

.blogs-entry
  margin-bottom 2rem

.blogs-entry__title
  color $brand-primary

.blogs-entry__meta
  margin-bottom 1rem
  color $body-color-secondary
  font-size $font-size-xs

.blogs-entry__author:after
  content ', '

.blogs-entry__author-link
  color $body-color-secondary

.blogs-entry__avatar
  display inline-block
  width 20px
  height 20px
  margin-right 5px
  border-radius 2px
  box-shadow 0 0 1px $body-color-secondary

.blogs-entry__controls-blk
  margin 0
  padding 0
  list-style none

.blogs-entry__control-item
  color $body-color-secondary
  display inline-block
  font-size $font-size-sm
  margin-right 1.5rem
  &:last-child
    margin-right 0

.blogs-entry__body
  padding-bottom 1.5rem
  margin-bottom 1.5rem
  border-bottom 1px solid $decorator-color

//
// Comments
//
.blog-entry__comment-header
  font-size $font-size-lg
  margin-bottom 1rem

.blog-comment
  margin-bottom 1rem

.blog-comment__meta
  margin-left $aside-size + 16px
  margin-bottom 1rem
  color $body-color-secondary
  line-height 1.25em

.blog-comment__author-link
  color $body-color-secondary
  font-size $font-size-sm

.blog-comment__date
  color $body-color-secondary
  font-size $font-size-xs

.blog-comment__aside
  float left
  margin-top .125rem

.blog-comment__avatar
  display inline-block
  width $aside-size
  height $aside-size
  border-radius 3px
  box-shadow 0 0 1px $body-color-secondary

.blog-comment__content
  margin-right 0px
  margin-left $aside-size + 16px
  min-height $aside-size - 40 // Dont allow post controls to be above avatar bottom

.blog-comment__message
  & > p:first-child
    margin-top -.25rem // Compensate line-height 1.5 rem

.blog-comment__controls
  text-align right
  margin-left $aside-size + 16px

.blog-comment__controls-blk
  margin 0
  padding 0
  list-style none

.blog-comment__control-item
  display inline-block

.blog-comment__body
  .blog-comment__action
    transition opacity .3s ease
    opacity .3
  &:hover
    .blog-comment__action
      opacity 1

.blog-comment__action
  background-color transparent
  color $body-color-secondary - 20%

  &:hover
  &:focus
  &:active
    background-color $body-bg-secondary

.blog-comment__reply
  .blog-comment__action
    color $brand-primary

  .short
    display none

@media (max-width: $grid-breakpoints.md - 1)
  .blog-comment__reply
    .full
      display none
    .short
      display inline-block

.blog-comment__children
  margin-left $aside-size + 16px

  // stop indenting deeply nested comments
  & & & &
    margin-left 0

@keyframes blog-comment-flash-animation {
  from  { background: $decorator-color;  }
  to    { background: none; }
}

.blog-comment__m-flash
  animation blog-comment-flash-animation 1.5s ease-in
