- self.add_raw_data('entry', self.entry)
- self.add_raw_data('settings', self.settings)

- var entry = self.entry;
- var entryStatuses = '$$ JSON.stringify(N.models.blogs.BlogEntry.statuses) $$'

article#content.blogs-entry-page(
  class=(entry.st === entryStatuses.DELETED) ? 'blogs-entry-page__m-deleted' : ''
  class=(entry.st === entryStatuses.DELETED_HARD) ? 'blogs-entry-page__m-deleted-hard' : ''
)
  -
    var user = self.users[self.user_id] || {};
    var $query_top = {};
    var $query_bottom = { from: self.last_entry_hid };

    if (self.current_tag) {
      $query_top.tag    = self.current_tag;
      $query_bottom.tag = self.current_tag;
    }

    var navbar_args = {
      title_html: self.partial('@blogs.entry.blocks.title', { user: user, entry: entry }),
      level_up: self.link_to('blogs.sole', { user_hid: user.hid }),
      toolbar: 'blogs.entry.blocks.toolbar_controls',
      search_areas: [
        {
          title: self.t('search_sole'),
          method: 'search.blogs_sole',
          params: { hid: String(user.hid) }
        }
      ]
    };

  != self.partial('@common.blocks.navbar.levelup_apps', navbar_args)
  != self.partial('@common.blocks.navbar.alt_levelup_title_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    != self.partial('blocks.entry')

    if self.comments && self.comments.length
      #comments.blogs-entry-page__comments
        .blogs-entry-page__comment-header
          = self.t('comments')
          span.blogs-entry-page__comment-count(data-count=self.comments.length)

        != self.partial('blocks.comment_list')

    if self.settings.blogs_can_create
      .blogs-entry-page__reply
        button.btn.btn-block.btn-link.icon.icon-plus.icon-space-after(
          data-on-click='blogs.entry:reply'
        )=self.t('add_comment')
